.available-boat-card {
  position: relative;
}

.boat-image {
  width: 50px;
  height: auto;
}

.boat-count {
  font-size: 20px;
  color: #091057;
}

.available-boat-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .boat-image {
    width: 70px; /* Increase the size of the image */
  }

  .boat-count {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .boat-image {
    width: 80px; /* Further increase the size of the image */
  }

  .boat-count {
    font-size: 1.5rem;
  }
}