.empty-card-tripcard {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
    position: relative;
    margin: 20px auto;
    width: 100%;
    max-width: 1350px;
    padding: 10px 15px;
    border-radius: 10px;
    height: auto;
}

.card-checkbox-tripcard {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.boat-logo-tripcard {
    position: absolute;
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: auto;
}

.card-body-tripcard {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 70px;
}

.from-component-tripcard,
.to-component-tripcard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.from-text-tripcard,
.to-text-tripcard {
    font-size: 10px;
    color: #666;
    margin-bottom: 2px;
}

.from-destination-tripcard,
.to-destination-tripcard {
    font-size: 18px;
    color: #091057;
}

.separator-tripcard {
    width: 5%;
    border-top: 1px dashed grey;
    margin: 15px 15px;
}

.departure-date-component-tripcard {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.departure-date-tripcard,
.departure-id-tripcard,
.departure-text-ticketcard,
.departure-capacity-tripcard {
    font-size: 14px;
    color: #091057;
    margin-right: 70px;
}

.departure-id-tripcard {
    font-size: 14px;
    font-weight: normal;
}

.departure-text-tripcard {
    font-size: 14px;
    font-weight: normal;
}

.departure-capacity-tripcard {
    font-size: 14px;
    color: #091057;
    font-weight: normal;
    margin-right: 30px;
}

.view-details-button-tripcard {
    background-color: rgb(189, 189, 189);
    border: 1px solid grey;
    border-radius: 25px;
    color: #091057;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 80px;
}

.view-details-button--tripcard:hover {
    background-color: #e2e3e5;
}
