.responsive-card {
  width: 100%;
  height: auto;
  max-width: 100%;
  transition: all 0.3s ease;
}

.card-body h5 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #091057;
  text-align: center;
}

@media (max-width: 600px) {
  .responsive-card {
      padding: 1rem;
  }
  .card-body h5 {
      font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  .responsive-card {
      padding: 1.5rem;
  }
}

@media (min-width: 992px) {
  .responsive-card {
      padding: 2rem;
  }
}
