.editcard-container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.editcard-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.editcard-title {
    font-size: 25px;
    margin-bottom: 10px;
    color: #333;
}

.editcard-label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

.editcard-input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    color: #333;
}

.editcard-input:focus {
    border-color: #091057;
    box-shadow: 0 0 5px rgba(9, 16, 87, 0.5);
}

.editcard-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.update-profile-button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #091057;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-profile-button:hover {
    background-color: #06316d;
}
