.issue-ticket-container {
  padding: 0px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.cards-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 0;
}

.card-select-issue {
  width: 48%;
  min-width: 300px;
  box-sizing: border-box;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  position: relative;
  height: auto;
  padding: 20px;
}

.card-contact-issue {
  width: 48%;
  min-width: 300px;
  box-sizing: border-box;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  position: relative;
  height: 650px;
  padding: 20px;
}

.card-contact {
  font-size: 20px;
  color: #091057;
  position: absolute;
  top: 20px;
  left: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.card-select {
  font-size: 1.5rem;
  font-weight: 600;
  color: #091057;
  top: 20px;
  left: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.arrow-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.arrow {
  font-size: 1.60rem;
  font-weight: bold;
  color: #091057;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.arrow:hover {
  color: #091057;
  transform: scale(1.2);
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.contact-form label {
  font-size: 14px;
  color: #091057;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.contact-form input {
  width: 500px;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.total-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  color: #091057;
  padding: 0 20px;
}

hr {
  border: 1px solid #091057;
  width: 100%;
  margin: 5 0;
}

.generate-btn {
  width: 500px;
  padding: 12px;
  font-size: 16px;
  background-color: #091057;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.generate-btn:hover {
  background-color: #071540;
  transform: scale(1.05);
}
