.empty-card-ticketcard {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    margin: 20px auto;
    width: 100%;
    max-width: 1350px;
    padding: 10px 15px;
    border-radius: 10px;
    height: auto;
}

.card-body-ticketcard {
    width: 100%;
    padding: 0;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse; /* Ensure borders are collapsed */
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
    text-align: center; /* Center the content of the table cells */
    vertical-align: middle; /* Center the content vertically */
}

.table-bordered th {
    background-color: #131a6b; /* Set the background color */
    color: white; /* Set the text color */
}

.boat-logo-ticketcard {
    width: 30px;
    height: auto;
    display: block;
    margin: auto;
}

.trash-button-ticketcard {
    background: none;
    border: none;
    color: #091057;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    padding: 0;
}

.trash-button-ticketcard:hover {
    color: #dc3545;
}

.view-details-button-ticketcard {
    background-color: rgb(189, 189, 189);
    border: 1px solid grey;
    border-radius: 25px;
    color: #091057;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    width: 150px; /* Set a fixed width */
    text-align: center; /* Center the text */
}

.view-details-button-ticketcard:hover {
    background-color: #e2e3e5;
}

.ticket-list {
    overflow-x: auto; /* Enable horizontal scrolling */
}

/* Mobile view handling */
@media (max-width: 768px) {
    .ticket-list {
        overflow-x: auto; /* Enable horizontal scrolling on mobile view */
    }
}