.managetrip {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    margin: 20px auto;
    width: 100%;
    max-width: 1350px;
    padding: 10px 15px;
    border-radius: 10px;
    height: auto;
}

.card-body-managetrip {
    width: 100%;
    padding: 0;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse; /* Ensure borders are collapsed */
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
    text-align: center; /* Center the content of the table cells */
    vertical-align: middle; /* Center the content vertically */
}

.boat-logo-managetrip {
    width: 30px;
    height: auto;
}

.trash-button-managetrip {
    background: none;
    border: none;
    color: #091057;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    padding: 0;
}

.trash-button-managetrip:hover {
    color: #dc3545;
}

.view-details-button-managetrip {
    background-color: rgb(228, 228, 228);
    border: 1px solid #091057;
    border-radius: 25px;
    color: #091057;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    width: 150px; /* Set a fixed width */
    text-align: center; /* Center the text */
}

.view-details-button-managetrip:hover {
    background-color: #e2e3e5;
}