.manage-trips-container {
  padding: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  margin-bottom: 20px;
}

.header {
  font-size: 24px;
  color: #333;
  margin-right: 20px;
  flex-grow: 1;
}

.search-inputt {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 180px;
  margin-right: 10px;
}

.filter-dropdown {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-add-trip {
  background-color: #091057;
  border-color: #091057;
  color: white;
  padding: 10px 15px; /* Adjusted padding to reduce width */
  border-radius: 5px;
  cursor: pointer;
}

.card-container {
  overflow-x: auto; /* Enable horizontal scrolling */
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #dee2e6;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.table th {
  background-color: #f8f9fa;
  font-weight: bold;
}

/* Mobile view handling */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: flex-start; /* Align items to the start */
  }

  .header {
    margin-bottom: 10px; /* Add margin to separate elements */
  }

  .search-inputt {
    width: calc(100% - 170px); /* Reduced width on mobile view */
    margin-bottom: 10px; /* Add margin to separate elements */
  }

  .filter-dropdown {
    width: 150px; /* Fixed width for dropdown */
    margin-bottom: 10px; /* Add margin to separate elements */
  }

  .btn-add-trip {
    width: auto; /* Adjust width on mobile view */
  }

  .card-container {
    overflow-x: auto; /* Enable horizontal scrolling on mobile view */
  }
}