.change-password-container {
    margin: 20px;
  }
  
  .change-password-content {
    padding: 20px;
  }
  
  .change-password-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .change-password-label {
    font-size: 14px;
    margin-bottom: 8px;
  }
  
  .password-fields-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .password-field {
    flex: 1; /* Make sure each password field has equal width */
    min-width: 280px;
  }
  
  .change-password-input {
    width: 100%;  /* Ensure the input fields fill the container */
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .password-input-container {
    position: relative;
  }
  
  .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .password-field.last {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Ensure the Repeat New Password input has the same width as the others */
  .repeat-password-field input {
    width: 100%; /* Ensures repeat password input matches width of other inputs */
  }
  
  .change-password-button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #091057;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end; /* Align the button to the right */
  }
  
  .change-password-button:hover {
    background-color: #45a049;
  }
  
  /* Styling for the logout button */
  .logout-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
  }
  
  .logout-button:hover {
    background-color: #e53935;
  }
  